/* .contact-container */
.contact-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
  background-size: cover;
  background-position: center;
}

/* .contact-card */
.contact-card {
  padding: 30px;
  background-image: url('./1672270081546.jpg');
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 10px;
  width: 100%;
  max-width: 450px;
  text-align: center;

  font-family: 'Roboto', sans-serif;
}

.contact-card h2 {
  font-size: 28px;
  color: #ecf0f1;
  margin-bottom: 15px;
}

.contact-card p {
  font-size: 16px;
  color: #ddd;
  margin-bottom: 25px;
}

/* Estilo general de los botones */
.contact-button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 1rem;
  font-weight: 500;
  color: #fff;
  text-decoration: none;
  border-radius: 30px;
  transition: transform 0.3s ease, background-color 0.3s ease;
  margin-bottom: 10px;
  border: none; /* Elimina borde por defecto */
}

/* Botón de Calendly */
.contact-button.calendly {
  background-color: #0a66c2; /* Azul para Calendly */
}

.contact-button.calendly:hover {
  background-color: #014ea1;
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Agrega sombra al hacer hover */
}

.contact-button.calendly:focus {
  outline: 2px solid #0056b3;
  outline-offset: 4px;
}

.contact-button.calendly:active {
  background-color: #003f7f;
}

/* Botón de WhatsApp */
.contact-button.whatsapp {
  background-color: #13823c;
  color: #ffffff; 
}

.contact-button.whatsapp:hover {
  background-color: #1ebe57;
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Agrega sombra al hacer hover */
}

.contact-button.whatsapp:focus {
  outline: 2px solid #1ebe57;
  outline-offset: 4px;
}

.contact-button.whatsapp:active {
  background-color: #128c4c;
}

/* Media Query */
@media (max-width: 768px) {
  .contact-container {
    padding: 10px; /* Reduce padding en pantallas más pequeñas */
  }

  .contact-card {
    max-width: 90%; /* Hace que la tarjeta ocupe el 90% del ancho en pantallas pequeñas */
    padding: 20px; /* Ajusta el padding para pantallas más pequeñas */
  }

  .contact-card h2 {
    font-size: 24px; /* Reduce el tamaño de la fuente para mejor lectura */
  }

  .contact-card p {
    font-size: 14px; /* Ajusta el tamaño de la fuente para pantallas pequeñas */
  }

  .contact-button {
    font-size: 16px; /* Ajusta el tamaño del texto en los botones */
    padding: 10px 15px; /* Ajusta el padding para una mejor experiencia móvil */
  }
}

/* Media Query para pantallas muy pequeñas (como teléfonos) */
@media (max-width: 480px) {
  .contact-button {
    font-size: 14px; /* Reduce el tamaño de los botones */
    padding: 10px 12px; /* Acomoda el padding para pantallas más pequeñas */
  }

  .contact-card {
    max-width: 95%; /* Ocupa más espacio en pantallas pequeñas */
    padding: 15px; /* Reduce el padding */
  }

  .contact-card h2 {
    font-size: 20px; /* Título más pequeño en pantallas muy pequeñas */
  }

  .contact-card p {
    font-size: 12px; /* Texto más pequeño en pantallas muy pequeñas */
  }
}
