
.skills {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 20px;
  }
  
  .skills ul {
    list-style-type: none;
    padding: 0;
  }
  
  .skills ul li {
    font-size: 18px;
  }
  