/* src/App.css */

body {
  background-color: #f4f4f4; /* Gris claro */
  background-image: url('https://www.transparenttextures.com/patterns/white-diamond.png'); /* Textura sutil */
  color: #333;
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

/* Mejorar la apariencia del main */
main {
  padding: 20px;
}

/* Tamaño y comportamiento del logo */
.App-logo {
  height: 30vmin;
  pointer-events: none;
}

/* Animación del logo */
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/* Encabezado del App */
.App-header {
  background-color: #282c34; /* Fondo oscuro */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/* Enlaces del App */
.App-link {
  color: #61dafb;
  text-decoration: none;
  transition: color 0.3s ease;
}

/* Hover en enlaces */
.App-link:hover {
  color: #21a1f1; /* Color más brillante para el hover */
}

/* Animación del logo */
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
