/* src/App.css */
.App {
  text-align: center;
  font-family: 'Roboto', Arial, sans-serif; /* Fuente más moderna */
  color: white; /* Color blanco para el texto en toda la app */
}

.App-logo {
  height: 30vmin;
  pointer-events: none;
  transition: transform 0.3s ease-in-out; /* Transición suave al mover el logo */
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear; /* Gira solo si no se ha reducido el movimiento */
  }
}

/* Encabezado del App */
.App-header {
  background-color: #1a252f; /* Fondo más suave para el encabezado */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin); /* Ajuste dinámico del tamaño de fuente */
  color: rgb(190, 7, 7);
  padding: 20px; /* Espaciado adicional */
}

.App-link {
  color: #61dafb;
  text-decoration: none;
  transition: color 0.3s ease;
  font-size: 1.2rem; /* Tamaño de fuente más grande para el enlace */
}

/* Hover en enlaces */
.App-link:hover {
  color: #21a1f1; /* Brillo más intenso en el hover */
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
