/* Body */
html {
  min-height: 100vh;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden; /* Evita el desbordamiento horizontal */
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex; /* Utiliza flexbox para el contenido */
  flex-direction: column; /* Organiza los elementos en una columna */
  min-height: 100vh; /* Asegura que el body ocupe toda la altura */
}

/* Reset de todos los elementos */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Eliminar margen de encabezados */
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

/* Header */
header {
  margin-top: 0;
}

/* Footer */
footer {
  margin-top: auto; /* Asegura que el footer se pegue a la parte inferior de la página */
}

/* Estilo para elementos de código */
code {
  font-family: 'Fira Code', source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
  font-weight: 400; /* Normal */
}
